database/build
database/Makefile
build
# main.cpp
cmake-build-debug
.idea
.vscode
code
Makefile
.cache
index.db
test.out
Debug_record.md
Cmake
test_data
data
output.txt
build.log
*.db
testdata
diff.log
judge.py
.cz.json
*.log
database/*.out
database/*.in
database/datamaker
database/*.cpp
speed_test/
